@font-face {
    font-family: 'castellarregular';
    src: url('webfontkit-20221201-152337/castellar-webfont.woff2') format('woff2'),
         url('webfontkit-20221201-152337/castellar-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}/* CORE STYLES */

/* Hamburger Help: https://codepen.io/bradtraversy/pen/vMGBjQ */
:root {
    /*--primary-color: #D18963e0;*/
    --action-color: #D18963;
    --overlay-color: #d18a63e0;
    --learn-color: #A3B2A7;
    --grey-color: #7f7f7f;

    --title-size: 64px;
    --title-weight: 800;
    --options-size: 48px;
    --options-select-weight: 800;
    --options-weight: 400;
    --heading-size: 48px;
    --heading-weight: 400;
    --subheading-size: 36px;
    --subheading-weight: 400;
    --bodyheading-size: 24px;
    --bodyheading-weight: 700;
    --body-size: 18px;
    --body-weight: 400;
    --button-size: 18px;
    --button-weight: 400;

    --menu-speed: 0.75s;
}
*{
    font-family: 'castellarregular';
    font-weight:normal;
    font-style:normal;
}
.container {
    max-width: 100vw;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

.showcase {
    background: var(--primary-color);
    color: black;
    height: 95vh;
    position: relative;
}

.showcase:before {
    content: '';
    background: url('') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    z-index: -1;
}

.showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.showcase h1 {
    font-size: var(--title-size);
    font-weight: var(--title-weight);
}

.btn {
    display: inline-block;
    font-size: var(--button-size);
    font-weight: var(--button-weight);
    border-radius: 5px;
    border: none;
    background: var(--action-color);
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    transition: opacity 1s ease-in-out;
    text-decoration: none;
}


.showcase .showcase-inner .btn:hover{
    background: #bc744d;
}
